.add-new-btn-admin {
  margin-bottom: 30px;
}

.datalistAdmin .filter-section input {
  border-radius: 5px !important;
  height: 46px;
  border-radius: 10px !important;
  margin-right: 15px;
}

.rp-manage-school-header-title {
  color: #454c4e;
  font-size: 28px;
  font-weight: Bold;
  letter-spacing: 0;
  line-height: 36px;
}

.AdminTotal-users {
  text-align: right;
}

.adminInformation {
  font-size: 16px;
  color: #20282a;
  line-height: 22px;
}

.totalusersAdmin {
  text-align: right;
  width: 100%;
  float: right;
}

.totalusersAdmin h4 {
  margin-right: 15px;
}

.totalusersAdmin h2,
.totalusersAdmin h4 {
  display: inline-block;
}

.rp-manageSchool-head .sort-dropdown {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px !important;
  border: 1pt solid #454c4e !important;
}

.rp-manageSchool-head-main {
  width: 100%;
}

.rp-manageSchool-head {
  width: 23%;
}

.adminfilterSpan {
  color: #20282a;
  font-size: 16px;
}

.custom-filtersection input {
  color: #20282a;
  font-size: 16px;
  border-radius: 10px !important;
  border: 1pt solid #454c4e !important;
  max-width: 250px !important;
}

.dropdown .customadmindropdown {
  -webkit-transform: translate3d(5px, 47px, 0px) !important;
          transform: translate3d(5px, 47px, 0px) !important;
  min-width: 15rem !important;
}

.dropdown .customadmindropdown .dropdown-item {
  font-size: 15px;
  color: #20282a;
}

.rp-manage-schools-main
> div
> div
> div
> div
> div
> .rdt_TableCol
> div
> div {
  color: #20282a;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 16px;
}

.rp-manage-schools-main .rdt_Table .rdt_TableBody .rdt_TableRow {
  min-height: 60px;
}

.admindatarow {
  font-size: 15px;
  color: #20282a;
}

.admindata-details-row {
  font-size: 15px;
}

.badge-active {
  color: #28c76f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.badge-active .badge-dot-active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #28c76f;
  position: relative;
  top: 4px;
  margin-right: 5px;
}

.badge-leave {
  color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.badge-leave .badge-dot-leave {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: orange;
  position: relative;
  top: 4px;
  margin-right: 5px;
}

.delete-popup {
  top: 25%;
  text-align: center;
}

.delete-popup .modal-footer {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.delete-popup .modal-footer button {
  font-weight: 900;
}

.delete-popup .modal-footer button.btn-secondary {
  background-color: #1c1c1c !important;
}

.delete-popup .modal-content {
  min-height: 150px;
  border-radius: 10px;
}

.delete-popup .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #20282a;
  font-size: 19px;
  font-weight: 900;
}

.rp-manage-schools-main .data-list-action .custom-switch .custom-control-label::before {
  background-color: #1e1e1e;
}

.rp-manage-schools-main .data-list-action .custom-switch-dark .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #28c76f !important;
}

.rp-manageSchool-head {
  width: 23%;
  margin-bottom: 15px;
}

.rp-manageSchool-head .subconcept-select .select__control {
  padding: 0.85rem 0.65rem !important;
  border-radius: 10px !important;
  border: 1pt solid #454c4e !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  cursor: pointer;
}

.rp-manageSchool-head .subconcept-select .select__control .select__value-container {
  padding: 0 !important;
}

.rp-manageSchool-head .subconcept-select .select__control .select__value-container .css-b8ldur-Input {
  margin: 0 !important;
  padding: 0 !important;
}

.rp-manageSchool-head .subconcept-select .select__control .select__indicators .select__indicator-separator {
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  width: 0 !important;
}

.rp-manageSchool-head .subconcept-select .select__control .select__indicators .select__dropdown-indicator {
  padding: 0 !important;
}

.rp-manageSchool-head .subconcept-select .select__control .select__indicators .select__dropdown-indicator svg {
  fill: #626262;
  height: 16px;
  width: 16px;
}
/*# sourceMappingURL=DataList.css.map */