.teacher-heading {
  h4 {
    color: #454c4e;
    //   font-family: Avenir;
    font-size: 28px;
    font-weight: Bold;
    letter-spacing: 0;
    line-height: 36px;
  }
  p {
    color: #454c4e;
    //   font-family: Avenir;
    font-size: 15px;
    font-weight: Bold;
    letter-spacing: 0;
  }
}

.error-msg {
  color: red;
  margin-top: -20px;
}

.custom-multi-select {
  .css-1rhbuit-multiValue {
    background-color: transparent;
    font-size: large;
  }
  .css-1rhbuit-multiValue::after {
    content: ";";
  }

  .css-xb97g8 {
    display: none;
  }
}

.teacher-total {
  text-align: right;
  .total-count {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 0 !important;
    justify-content: flex-end;
    h4 {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      color: #454c4e;
      //   font-family: Avenir;
      font-size: 28px;
      font-weight: 900;
      letter-spacing: 0;
      line-height: 36px;
    }
    h2 {
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.new-teacher-btn {
  border: 1pt solid #8aa099 !important;
  background: #43aa8b !important;
  color: white;
  width: max-content;
  font-size: 1rem;

  // padding-left: 1rem !important;
  // padding-right: 1rem !important;
  font-weight: 800;
  &:hover {
    color: white;
    box-shadow: 0 8px 25px -8px #b8c2cc;
  }
  .add-new-icon {
    margin-right: 10px;
  }
}

.teacher-navs {
  position: relative;
  .teacher-nav-bottom-border {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    bottom: 0px;
  }
  .teacher-nav-item {
    .teacher-nav-link {
      padding: 0;
      font-size: 16px !important;
      margin-right: 30px;
    }
    .teacher-nav-link.active {
      border-bottom: 5px solid #7367f0 !important;
      background-color: transparent !important;
      transform: none !important;
      transition: none !important;
      font-weight: 600 !important;
    }
  }
}

.teacher-search {
  input {
    position: relative;
    padding: 1rem 0.5rem 1rem 3rem;
    display: flex;
    align-items: center;
    width: 40%;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.3);
  }
  input::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
  .search-icon {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
  }
}

.teacher-extra-search {
  select {
    position: relative;
    padding: 1rem 0.5rem 1rem 0.5rem;
    width: 100%;
    font-weight: 900;
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
  }
}

.teacher-table {
  .rdt_Table {
    .rdt_TableHead {
      .rdt_TableHeadRow {
        .rdt_TableCol {
          color: #20282a !important;
          // font-family: Avenir;
          font-size: 16px !important;
          font-weight: 900;
          letter-spacing: 0;
          line-height: 16px;
        }
      }
    }
  }
}

.rp-manage-schools-main .rdt_Table .rdt_TableBody .rdt_TableRow {
  min-height: 60px;
}

.teacher-table-container {
  margin-top: 2rem;
  .rdt_TableHeader {
    display: none;
  }
  .rdt_Table {
    background-color: transparent;
    // color: $body-color;
    padding: 0 1rem;
    margin-top: 1rem;

    .rdt_TableCol:first-child,
    .rdt_TableCell:first-child {
      flex: 0 0 80px;
    }

    .rdt_TableHead {
      .rdt_TableHeadRow {
        background-color: transparent;
        border: 0;
        min-height: 61px;
        .rdt_TableCol {
          font-size: 0.85rem;
          font-weight: 600;
          text-transform: uppercase;
          // color: $body-color;
          .rdt_TableCol_Sortable {
            // color: $body-color;
            svg {
              height: 15px !important;
              width: 15px !important;
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
    .rdt_TableBody {
      .rdt_TableRow {
        min-height: 69px;
        margin-bottom: 20px;
        border: 0;
        border-radius: 0.5rem;
        transition: all 0.3s ease;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
        font-size: 1rem;
        font-weight: 500;
        // color: $body-color;
        .data-list-action {
          width: 100% !important;
          .custom-switch-dark {
            margin-bottom: 0 !important;
          }
          svg {
            float: right;
          }
        }
        &:hover {
          transform: translateY(-4px);
        }
        // .rdt_TableCell {
        // }
      }
    }
    & ~ .rdt_Pagination {
      // color: $body-color;
      border: 0;
      background-color: transparent;
    }
  }

  &.thumb-view {
    .rdt_Table {
      .rdt_TableBody {
        .rdt_TableRow {
          min-height: 120px;
        }
      }
    }
  }

  .vx-pagination {
    min-height: 34px;
    li.disabled {
      // background-color: $pagination-bg-color;
      opacity: 0.5;
      a {
        // color: $body-color;
      }
    }
  }
  // .rdt_Table {
  //   background-color: transparent !important;
  //   .rdt_TableHead {
  //     .rdt_TableHeadRow {
  //       background-color: transparent;
  //       .rdt_TableCol {
  //         text-transform: uppercase;
  //         font-size: 16px;
  //         color: rgba(0, 0, 0, 0.4);
  //         font-weight: 600;
  //       }
  //       & > :nth-child(1) {
  //         div {
  //           padding-left: 28px;
  //         }
  //       }
  //     }
  //   }
  //   .rdt_TableBody {
  //     .rdt_TableRow {
  //       font-size: 15px;
  //       color: #000;
  //       font-weight: 900 !important;
  //       cursor: pointer;
  //       .rdt_TableCell {
  //         font-weight: 900 !important;
  //       }
  //       &:hover {
  //         background-color: #fff;
  //       }
  //     }
  //   }
  //   .rdt_TableCol:first-child,
  //   .rdt_TableCell:first-child {
  //     flex: 0 0 200px !important;
  //   }
  // }
}

.salary-table {
  .rdt_Table {
    .rdt_TableHead {
      .rdt_TableHeadRow {
        & > :nth-child(1) {
          div {
            padding-left: 0px;
          }
        }
      }
    }
  }
}

.teacher-id {
  display: flex;
  align-items: center;
  .teacher-icon {
    margin: 0px 20px 0px 10px;
  }
}

.status {
  display: flex;
  align-items: center;
  .status-indicator {
    height: 15px;
    width: 15px;
    background-color: green;
    margin-right: 10px;
    border-radius: 50%;
    // border: 1px solid #000;
  }
  .status-indicator.leave {
    background-color: #e78439;
  }
}

.status-extra-text {
  color: rgba(0, 0, 0, 0.4) !important;
}

.pagination-active {
  li {
    a {
      padding: 0.5rem 0.9rem;
    }
  }
  li.active {
    a {
      border-radius: 50% !important;
    }
  }
}

// TeacherDetails SCSS

.teacher-salary-details {
  color: #d1455b !important;
  font-weight: 900 !important;
  font-size: 22px !important;
  margin-top: 30px !important;
}

.teacher-details-status {
  margin-left: 40px;
  span {
    font-size: 18px;
  }
}

.salary-table {
  .rdt_TableRow {
    padding: 15px 0px;
  }
}

.payment-status {
  margin-bottom: 0;
}

.payment-status.Processing {
  color: #da9d6f;
}

.payment-status.Credited {
  color: #50867c;
}

.leave-status {
  margin-bottom: 0;
}

.leave-status.pending {
  color: #da9d6f;
}

.leave-status.approved {
  color: #50867c;
}

.leave-status.rejected {
  color: #c8a5a4;
}

.leave-no {
  margin: 0px 30px 0px 10px !important;
}

.table-action {
  button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    .approve-btn {
      color: #227668;
      // fill: #227668;
    }
    .reject-btn {
      color: #d2455b;
      // fill: #d2455b;
    }
  }
}

.datalistAdmin .filter-section input {
  border-radius: 5px !important;
  height: 46px;
  border-radius: 10px !important;
  margin-right: 15px;
  min-width: 250px !important;
}

.filter-section {
  position: relative;
  margin-bottom: 30px;
  input {
    padding: 1.45rem 0rem;
    padding-left: 2.8rem;
    border-radius: 1.428rem;
    border: 1px solid #000;
    max-width: 200px;
    min-width: 200px;
  }
  &:after {
    content: "\e8bd";
    font-family: feather;
    position: absolute;
    left: 1rem;
    top: 0.85rem;
  }
}

.rp-manageSchool-head .sort-dropdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px !important;
  border: 1pt solid #454c4e !important;
}

.rp-manageSchool-head-main {
  width: 100%;
  // justify-content: space-around;
}

.rp-manageSchool-head {
  width: 23%;
}

.adminfilterSpan {
  color: #20282a;
  font-size: 16px;
}

.dropdown .customadmindropdown {
  transform: translate3d(5px, 47px, 0px) !important;
  min-width: 15rem !important;
}

.dropdown .customadmindropdown .dropdown-item {
  font-size: 15px;
  color: #20282a;
}

.teacherfilter-btn {
  padding: 1rem !important;
  background: #fff;
}
