.add-new-btn-admin{
  margin-bottom: 30px;
  border:1pt solid #8aa099 !important;
  background: #43AA8B !important;
  width: max-content;
}

.tautmore-admin-add-btn{
  margin:0 10px;
  color: #fff;
  font-size: 16px;
}

.list-button {
  padding:12px 8px;
}
